.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# App
Token.java
Token.kt
syntax: glob
*.iml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
captures/
.idea/caches/
